<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131419269548-4unte7rbu1it4lg5hqb09lk788n8dobu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131419269548-4unte7rbu1it4lg5hqb09lk788n8dobu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>131419269548-im9hte021qj8mn135dcpe6nur88rou4g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAssbFpO9xRxQvsCoYVJwJfL0vwK9oO81M</string>
	<key>GCM_SENDER_ID</key>
	<string>131419269548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>treecode.cizaroApp</string>
	<key>PROJECT_ID</key>
	<string>cizaro-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>cizaro-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131419269548:ios:f6350cca2a49951a413209</string>
</dict>
</plist>